---
import Sidenav from "../layouts/Sidenav.astro";
---

<Sidenav>
    <div
        class="fixed inset-0 -z-10 bg-gradient-to-br from-zinc-800/20 to-purple-800/20"
    >
    </div>

    <article>
        <h1 class="text-5xl">About Me</h1>
        <p>Hello, my name is Bruno García Baldassari.</p>
        <p>
            I'm a Web Developer originally from Uruguay, now living in
            Washington DC.
        </p>

        <p>
            I have been working in <strong>web development</strong> for over three
            years. My experience has ranged from both <strong>frontend</strong> and
            <strong>backend</strong>
            technologies, implementing simple tools and databases like <em
                >Express.js</em
            >,
            <em>Web APIs</em> and <em>SQL</em>, as well as robust frameworks and
            libraries that enable fast and safe development cycles like <em
                >Typescript, React, Astro.js</em
            > and <em>Docker</em>.
        </p>

        <p>
            I'm a big believer in <strong>Open Source</strong> development and its
            capacity to create a more equitable world. I hope to dedicate my career
            to projects that further improve access to tools and resources for everyone.
        </p>

        <p>
            Check out my portfolio to see some of my latest work, and feel free
            to contact me if you have any questions or opportunities you'd like
            to discuss.
        </p>
    </article>
</Sidenav>
