---
import { ArrowRight } from "lucide-astro";

const menuItems = [
    { name: "About Me", id: "about-me", href: "/about-me" },
    { name: "Portfolio", id: "portfolio", href: "/portfolio/shopify" },
    { name: "Contact", id: "contact", href: "/contact" },
];
---

<div transition:name="menu-items">
    {
        menuItems.map((item, i) => (
            <li class="flex flex-row items-end py-1.5">
                <a
                    id={item.id}
                    class="peer z-10 hover:underline"
                    href={item.href}
                >
                    {item.name}
                </a>
                <ArrowRight class="invisible overflow-clip transition ease-linear peer-hover:visible peer-hover:translate-x-6" />
            </li>
        ))
    }
</div>

<script>
    const underlineCurrentItem = () => {
        const currentItemPath = window.location.pathname.split("/")[1];
        const currentItem = document.getElementById(currentItemPath);
        // Underline the curren item
        if (currentItem) {
            currentItem.classList.add("underline");
        }
    };

    document.addEventListener("astro:page-load", underlineCurrentItem);
</script>
